.inputOption{
    padding-left: 2%;
    padding-right: 2%;
    margin-bottom: 1%;
    display: flex;
    align-items: center;
    height: 100%;
    color: rgb(83, 79, 79);
    justify-content: space-around;
    cursor: pointer;
}

.inputOption:hover{
    background-color: rgba(128, 128, 128, 0.295);
    border-radius: 5px;
}

.inputOption >h4{
    margin-left: 8%;
}

/* setting resopnsiveness*/

@media only screen and (max-width:768px)
{
    .inputOption{
        justify-content: space-evenly;
        align-items: center;
    }
 .inputOption >h4{
     visibility: hidden;
 }
    
}